node_modules/
.next/
.env
.env.local
.DS_Store

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

public/uploads/videos/*.mp4
project-report.txt

# Local uploaded files
public/uploads/assignments/
public/uploads/videos/


# Local assignment submissions
public/uploads/assignment-submissions/

# Local assignment submissions
public/uploads/assignment-submissions/
public/uploads/exam-questions/
